@mixin navbar-main-active($color) {
	box-shadow: inset 0 -4px 0 $color;
}

/**
 * Breakpoints
 */
@mixin breakpoint($point) {
	@if $point == phone {
		@media only screen and (max-width: 767px) { @content; }
	}
	@else if $point == tablet {
		@media only screen and (min-width: 768px) and (max-width: 991px) { @content; }
	}
	@else if $point == desktop {
		@media only screen and (min-width: 992px) and (max-width: 1199px) { @content; }
	}
	@else if $point == large_desktop {
		@media only screen and (min-width: 1200px) { @content; }
	}
}