$primary-font-family: 'Lato', sans-serif;
$primary-color: #333;
$tryCodeCatch-color: #25a8de;
$default-highlight: rgb(52, 73, 94);
$ivan-color: rgb(231, 76, 60);
$ivan-darker-color: rgb(192, 57, 43);
$luka-color: rgb(26, 188, 156);
$luka-darker-color: rgb(22, 160, 133);
$dominik-color: rgb(241, 196, 15);
$dominik-darker-color: rgb(243, 156, 18);
$navbar-default-font-size: 24px;
$content-spacing-top: 45px;
$content-spacing: 45px;
$content-spacing-bottom: 55px;
$hero-spacing-top: 70px;
$hero-spacing-bottom: 70px;
$side-p-about-heading: 18px;
$side-p-about-heading-fa: 13px;
$side-p-about-heading-fa-margin: 10px;