@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900,300&subset=latin,latin-ext);

@import 'variables';
@import 'mixins';

body {
	background: #f5f5f5;
	font-family: $primary-font-family !important;
	line-height: 1.385;
	font-size: 14px;
	color: $primary-color;
}

._tryCodeCatch {
	color: $tryCodeCatch-color;
}

#navbar {
	transition: 0.15s ease-out;
}
.navbar-default {
	background: #fff;
	border: none;
	min-height: auto;
	._ivan, ._luka, ._dominik {
		font-weight: 700;
	}
	.navbar-brand {
		padding: 15px 25px 15px 15px;
		font-weight: 700;
	}
	.navbar-nav>li>a {
		font-size: 19px;
		transition: 0.12s ease-out;
	}
	.navbar-nav>.active>a, .navbar-nav>.active>a:hover, .navbar-nav>.active>a:focus {
		color: #000;
		font-weight: 700;
		background: none;
		transition: 0.12s ease-out;
	}
	&>li>a:hover, &>li>a:focus {
		color: #000;
		background: none;
	}
	.navbar-nav>._nav-def>a:hover, .navbar-nav>._nav-def.active>a:hover {
		@include navbar-main-active($default-highlight);
	}
	.navbar-nav>._ivan>a:hover, .navbar-nav>._ivan.active>a:hover {
		@include navbar-main-active($ivan-color);
	}
	.navbar-nav>._luka>a:hover, .navbar-nav>._luka.active>a:hover {
		@include navbar-main-active($luka-color);
	}
	.navbar-nav>._dominik>a:hover, .navbar-nav>._dominik.active>a:hover {
		@include navbar-main-active($dominik-color);
	}
}

._fadeInTop {
	position: relative;
	top: -20px;
	opacity: 0;
	transition: 0.6s ease-out;
}
._fadeInZoomIn {
	position: relative;
	transform: scale(0.8);
	opacity: 0;
	transition: 0.6s ease-out;
}

._portfolio-jumbo {
	background: url('../../img/bcg/pattern1.png');
	background-repeat: repeat;
	margin: 50px 0 0 0;
	padding: 60px 0;
	._portfolio-jumbo__inner {
		text-align: center;
		color: #fff;
		h1 {
			font-weight: 900;
			font-size: 90px;
			margin-top: 0;
			margin-bottom: 0;
		}
		h2 {
			font-weight: 400;
			font-size: 32px;
			margin-top: 10px;
		}
	}
}

._coding-jumbo {
	background: url('../../img/bcg/coding.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	margin: $hero-spacing-top 0 0 0;
	text-align: center;
	padding: 55px 0;
	._item {
		background: #fff;
		border-radius: 5px;
		box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
		padding: 20px 15px;
		cursor: default;
		margin: 10px 0;
		._icon {
			font-size: 90px;
			margin-bottom: 22px;
			color: rgb(67, 65, 74);
			@include breakpoint(desktop) {
				font-size: 80px;
			}
			@include breakpoint(phone) {
				font-size: 70px;
			}
		}
		h3 {
			margin: 0;
			font-size: 24px;
			@include breakpoint(desktop) {
				font-size: 20px;
			}
			@include breakpoint(phone) {
				font-size: 20px;
			}
		}
	}
}

._tech-list__inner {
	display: block;
	text-align: center;
	._tech-item {
		display: inline-block;
		margin: 15px 3% 40px 3%;
		width: 15%;
		@include breakpoint(desktop) {
			width: 15%;
		}
		@include breakpoint(tablet) {
			width: 18%;
		}
		@include breakpoint(phone) {
			width: 25%;
			margin: 15px 10% 25px 10%;
		}
		img {
			width: 100%;
		}
	}
}

._indent {
	border-left: 15px solid rgba(46, 204, 113, 1);
	padding-top: 5px;
	padding-bottom: 5px;
	p {
		margin-left: 15px;
	}
}

._mainHeading {
	position: relative;
	text-transform: uppercase;
	text-align: center;
	margin: $content-spacing-top 0 $content-spacing-bottom 0;
	font-size: 30px;
	@include breakpoint(phone) {
		font-size: 27px;
	}
}
._mainHeading:after {
	content: '';
	display: block;
	position: absolute;
	bottom: -15px;
	left: 46%;
	right: 46%;
	border-bottom: 3px solid rgba(46, 204, 113, 1);
}

._about-us {
	p {
		font-size: 18px;
	}
	p:last-child {
		margin-bottom: 0;
	}
	._etfos-logo__holder {
		position: relative;
		top: 0;
		bottom: 0;
		._etfos-logo {
			width: 100%;
		}
	}
}

._team-member__col {
	transition: 0.2s ease-out;
}

._team-member {
	position: relative;
	margin: 0 auto;
	width: 85%;
	max-width: 320px;
	text-align: center;
	cursor: pointer;
	@include breakpoint(phone) {
		margin-bottom: 40px;
	}
	img {
		width: 100%;
		height: auto;
		border-radius: 50%;
		position: relative;
	}
	._team-member__frame {
		height: 100%;
		width: 100%;
		top: 0;
		border-radius: 50%;
		overflow: hidden;
		position: absolute;
		box-shadow: 
			inset 0 0 0 20px rgba(255,255,255,0.6),
			0 1px 2px rgba(0,0,0,0.1);
		transition: all 0.4s ease-in-out;
		._team-member__info {
			position: absolute;
			display: flex;
			justify-content: center;
			background: rgba(231, 76, 60, 0.75);
			height: 100%;
			width: 100%;
			border-radius: 50%;
			overflow: hidden;
			opacity: 0;
			transition: all 0.3s ease-in-out;
			transform: scale(0);
			._team-member__inner {
				align-self: center;
			}
			h3 {
				color: #fff;
				text-transform: uppercase;
				font-size: 30px;
				font-weight: 700;
				margin: auto 50px;
				padding: 0;
				font-family: 'Open Sans', Arial, sans-serif;
				text-shadow: 0 1px 2px rgba(0,0,0,0.3);
				text-align: center;
				transition: all 0.2s ease-in-out 0.5s;
				@include breakpoint(desktop) {
					font-size: 26px;
				}
				@include breakpoint(tablet) {
					font-size: 28px;
				}
			}
			.__info-div, p {
				padding: 15px 2px 0 2px;
				margin: -15px 28px 0 28px;
				border-top: 1px solid rgba(255,255,255,0.5);
				opacity: 0;
				transition: all 0.2s ease-in-out 0.2s;
				font-size: 14px !important;
				@include breakpoint(desktop) {
					font-size: 13px !important;
				}
				a {
					display: block;
					color: rgba(255,255,255,0.8);
					font-weight: 700;
					text-transform: uppercase;
					font-size: 15px;
					letter-spacing: 1px;
					padding-top: 8px;
					text-align: center;
				}
				a:hover {
					color: rgba(255,242,34, 0.8);
				}
			}
			p {
				color: #fff;
				font-size: inherit;
			}
			.__info-div {
			}
		}

		._ivan {
			background: rgba(231, 76, 60, 0.7);
		}
		._luka {
			background: rgba(26, 188, 156, 0.7);
		}
		._dominik {
			background: rgba(243, 156, 18, 0.7);
		}

		&:hover {
			box-shadow: inset 0 0 0 1px rgba(255,255,255,0.1),
							0 1px 2px rgba(0,0,0,0.1);
			._team-member__info {
				transform: scale(1);
				opacity: 1;
				p, .__info-div {
					opacity: 1;
					margin-top: 15px;
				}
			}
		}
	}
}

._body-noscroll {
	overflow: hidden;
}

#side-panel {
	position: fixed;
	overflow: visible;
	top: 0;
	bottom: 0;
	transform: translateX(100%);
	right: 0;
	width: 540px;
	background: #2c3e50;
	z-index: 100000;
	border-left: 5px solid #516982;
	color: #fff;
	transition: 0.2s ease-out;
	@include breakpoint(tablet) {
		width: 600px;
	}
	@include breakpoint(phone) {
		width: 100%;
	}
	._side-panel-close {
		position: absolute;
		top: 10px;
		left: 12px;
		z-index: 100001;
		line-height: 1em;
		cursor: pointer;
		.fa {
			font-size: 30px;
			opacity: 0.4;
			transition: 0.2s ease-out;
		}
		&:hover .fa {
			opacity: 0.8;
			transform: rotate(180deg);
		}
	}
	._side-panel__holder {
		height: 100%;
		position: absolute;
		left: 0;
		right: 0;
		padding-bottom: 15px;
		overflow-y: scroll;
		overflow-x: hidden;
		._profile__top {
			text-align: center;
			background: #34495e;
			padding: 20px 0;
			h1 {
				font-size: 34px;
				letter-spacing: 1px;
				font-weight: 700;
				position: relative;
				margin: 15px 0 30px 0;
			}
			h1:after {
				@extend ._mainHeading:after;
			}
			h2 {
				font-size: 18px;
				text-transform: uppercase;
				opacity: 0.8;
				margin-bottom: 0;
			}
			._side-panel__photo {
				overflow: hidden;
				border-radius: 50%;
				margin: 0 auto;
				width: 45%;
				border: 5px solid #516982;
				img {
					width: 100%;
				}
			}
		}
		._side-panel__mainH {
			font-size: 25px;
			position: relative;
			margin-top: 25px;
			margin-bottom: 16px;
			small {
				color: #fff;
				opacity: 0.75;
				font-size: 45%;
				margin-left: 5px;
			}
		}
		._side-panel__mainH:after {
			@extend ._mainHeading:after;
			left: 0%;
			right: 85%;
		}
		._side-panel__intro {
			margin-top: 20px;
			p {
				font-style: italic;
				text-align: center;
				margin-bottom: 0;
				font-size: 13px;
			}
		}
		._side-panel__about {
			h2 {
				font-size: $side-p-about-heading;
				font-weight: 400;
				text-transform: uppercase;
				.fa {
					width: $side-p-about-heading-fa;
					font-size: $side-p-about-heading-fa;
					margin-right: $side-p-about-heading-fa-margin;
					opacity: 0.7;
				}
			}
			._about-text {
				margin-left: $side-p-about-heading-fa + $side-p-about-heading-fa-margin;
			}
		}
		._side-panel__interests, ._side-panel__linkovi {
			padding-top: 20px;
			._interest-label {
				display: inline-block;
				font-size: 95%;
				padding: 5px 10px;
				background: rgba(0,0,0,0.35);
				margin: 0 7px 7px 0;
			}
		}
		._side-panel__linkovi {
			._side-panel__link {
				color: #B0EADF;
				font-weight: 700;
				margin-right: 14px;
				.fa {
					font-size: 75%;
					margin-right: 7px;
				}
			}
		}
	}
}

#body-faded-layer {
	background: rgba(248,252,250,0.82);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99999;
	display: none;
}

._loading-spinner {
	width: 100%;
	height: 100%;
	min-height: 300px;
	text-align: center;
   position: relative;
	i {
		position: relative;
    	top: 35%;
		color: #2ECC71;
		font-size: 36px;
		margin-top: 30%;
	}
}

._guestbook {
	p {
		font-size: 18px;
		margin-bottom: 25px;
		.fa {
			margin-left: 3px;
		}
	}
	form {
		margin-bottom: 20px;
		label {
			font-size: 18px;
			text-transform: uppercase;
			color: #777;
			font-weight: 400;
			letter-spacing: 1px;
			margin-bottom: 8px;
		}
		input, textarea {
			color: #fff;
			background: #16a085;
			border: 3px solid #1abc9c;
			font-size: 16px;
			padding: 8px 16px;
			border-radius: 0px;
			outline: none !important;
			box-shadow: none !important;
			transition: 0.12s ease-out;
			height: auto;
			&::-webkit-input-placeholder {
			   color: #fff;
			}
			&:-moz-placeholder {
			   color: #fff;
			}
			&::-moz-placeholder {
			   color: #fff;
			}
			&:-ms-input-placeholder {
			   color: #fff;
			}
		}
		input:focus, textarea:focus {
			padding: 16px 16px;
		}
		input:hover, input:focus, textarea:hover, textarea:focus {
			background: #1abc9c;
			border-color: #16a085;
		}
		button {
			border-radius: 0;
			border: 3px solid #ddd;
			background: #eee;
			text-transform: uppercase;
			font-size: 12px;
			font-weight: 700;
			transition: 0.12s ease-out;
			padding: 8px 25px;
		}
		button:hover {
			border-color: #ccc;
			background: #fff;
		}
		button:focus {
			outline: none !important;
			box-shadow: none !important;
		}
	}
	._messages {
		padding: 0 15px;
		background: #fff;
		margin-top: 30px;
		margin-bottom: 20px;
		overflow: auto;
		border: 3px solid #f1f1f1;
		._message {
			padding: 0 0 15px 0;
			margin: 15px 0 0 0;
			border-bottom: 1px solid #f1f1f1;
			h3 {
				margin-top: 0;
				color: #373442;
				font-size: 23px;
				font-weight: 700;
				._message-publishedAt {
					font-size: 13px;
					font-weight: 400;
					color: #999;
					margin-top: 3px;
				}
			}
			p {
				margin-bottom: 0;
				font-size: 16px;
			}
		}
	}
}