@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900,300&subset=latin,latin-ext);
/**
 * Breakpoints
 */

body {
  background: #f5f5f5;
  font-family: "Lato", sans-serif !important;
  line-height: 1.385;
  font-size: 14px;
  color: #333;
}

._tryCodeCatch {
  color: #25a8de;
}

#navbar {
  transition: 0.15s ease-out;
}

.navbar-default {
  background: #fff;
  border: none;
  min-height: auto;
}

.navbar-default ._ivan,
.navbar-default ._luka,
.navbar-default ._dominik {
  font-weight: 700;
}

.navbar-default .navbar-brand {
  padding: 15px 25px 15px 15px;
  font-weight: 700;
}

.navbar-default .navbar-nav > li > a {
  font-size: 19px;
  transition: 0.12s ease-out;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #000;
  font-weight: 700;
  background: none;
  transition: 0.12s ease-out;
}

.navbar-default > li > a:hover,
.navbar-default > li > a:focus {
  color: #000;
  background: none;
}

.navbar-default .navbar-nav > ._nav-def > a:hover,
.navbar-default .navbar-nav > ._nav-def.active > a:hover {
  box-shadow: inset 0 -4px 0 #34495e;
}

.navbar-default .navbar-nav > ._ivan > a:hover,
.navbar-default .navbar-nav > ._ivan.active > a:hover {
  box-shadow: inset 0 -4px 0 #e74c3c;
}

.navbar-default .navbar-nav > ._luka > a:hover,
.navbar-default .navbar-nav > ._luka.active > a:hover {
  box-shadow: inset 0 -4px 0 #1abc9c;
}

.navbar-default .navbar-nav > ._dominik > a:hover,
.navbar-default .navbar-nav > ._dominik.active > a:hover {
  box-shadow: inset 0 -4px 0 #f1c40f;
}

._fadeInTop {
  position: relative;
  top: -20px;
  opacity: 0;
  transition: 0.6s ease-out;
}

._fadeInZoomIn {
  position: relative;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
  transition: 0.6s ease-out;
}

._portfolio-jumbo {
  background: url("../../img/bcg/pattern1.png");
  background-repeat: repeat;
  margin: 50px 0 0 0;
  padding: 60px 0;
}

._portfolio-jumbo ._portfolio-jumbo__inner {
  text-align: center;
  color: #fff;
}

._portfolio-jumbo ._portfolio-jumbo__inner h1 {
  font-weight: 900;
  font-size: 90px;
  margin-top: 0;
  margin-bottom: 0;
}

._portfolio-jumbo ._portfolio-jumbo__inner h2 {
  font-weight: 400;
  font-size: 32px;
  margin-top: 10px;
}

._coding-jumbo {
  background: url("../../img/bcg/coding.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 70px 0 0 0;
  text-align: center;
  padding: 55px 0;
}

._coding-jumbo ._item {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
  padding: 20px 15px;
  cursor: default;
  margin: 10px 0;
}

._coding-jumbo ._item ._icon {
  font-size: 90px;
  margin-bottom: 22px;
  color: #43414a;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  ._coding-jumbo ._item ._icon {
    font-size: 80px;
  }
}

@media only screen and (max-width: 767px) {
  ._coding-jumbo ._item ._icon {
    font-size: 70px;
  }
}

._coding-jumbo ._item h3 {
  margin: 0;
  font-size: 24px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  ._coding-jumbo ._item h3 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 767px) {
  ._coding-jumbo ._item h3 {
    font-size: 20px;
  }
}

._tech-list__inner {
  display: block;
  text-align: center;
}

._tech-list__inner ._tech-item {
  display: inline-block;
  margin: 15px 3% 40px 3%;
  width: 15%;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  ._tech-list__inner ._tech-item {
    width: 15%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  ._tech-list__inner ._tech-item {
    width: 18%;
  }
}

@media only screen and (max-width: 767px) {
  ._tech-list__inner ._tech-item {
    width: 25%;
    margin: 15px 10% 25px 10%;
  }
}

._tech-list__inner ._tech-item img {
  width: 100%;
}

._indent {
  border-left: 15px solid #2ecc71;
  padding-top: 5px;
  padding-bottom: 5px;
}

._indent p {
  margin-left: 15px;
}

._mainHeading {
  position: relative;
  text-transform: uppercase;
  text-align: center;
  margin: 45px 0 55px 0;
  font-size: 30px;
}

@media only screen and (max-width: 767px) {
  ._mainHeading {
    font-size: 27px;
  }
}

._mainHeading:after,
#side-panel ._side-panel__holder ._profile__top h1:after,
#side-panel ._side-panel__holder ._side-panel__mainH:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -15px;
  left: 46%;
  right: 46%;
  border-bottom: 3px solid #2ecc71;
}

._about-us p {
  font-size: 18px;
}

._about-us p:last-child {
  margin-bottom: 0;
}

._about-us ._etfos-logo__holder {
  position: relative;
  top: 0;
  bottom: 0;
}

._about-us ._etfos-logo__holder ._etfos-logo {
  width: 100%;
}

._team-member__col {
  transition: 0.2s ease-out;
}

._team-member {
  position: relative;
  margin: 0 auto;
  width: 85%;
  max-width: 320px;
  text-align: center;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  ._team-member {
    margin-bottom: 40px;
  }
}

._team-member img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  position: relative;
}

._team-member ._team-member__frame {
  height: 100%;
  width: 100%;
  top: 0;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  box-shadow: inset 0 0 0 20px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-in-out;
}

._team-member ._team-member__frame ._team-member__info {
  position: absolute;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: rgba(231, 76, 60, 0.75);
  height: 100%;
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(0);
  transform: scale(0);
}

._team-member ._team-member__frame ._team-member__info ._team-member__inner {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

._team-member ._team-member__frame ._team-member__info h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  margin: auto 50px;
  padding: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: all 0.2s ease-in-out 0.5s;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  ._team-member ._team-member__frame ._team-member__info h3 {
    font-size: 26px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  ._team-member ._team-member__frame ._team-member__info h3 {
    font-size: 28px;
  }
}

._team-member ._team-member__frame ._team-member__info .__info-div,
._team-member ._team-member__frame ._team-member__info p {
  padding: 15px 2px 0 2px;
  margin: -15px 28px 0 28px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  opacity: 0;
  transition: all 0.2s ease-in-out 0.2s;
  font-size: 14px !important;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  ._team-member ._team-member__frame ._team-member__info .__info-div,
  ._team-member ._team-member__frame ._team-member__info p {
    font-size: 13px !important;
  }
}

._team-member ._team-member__frame ._team-member__info .__info-div a,
._team-member ._team-member__frame ._team-member__info p a {
  display: block;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1px;
  padding-top: 8px;
  text-align: center;
}

._team-member ._team-member__frame ._team-member__info .__info-div a:hover,
._team-member ._team-member__frame ._team-member__info p a:hover {
  color: rgba(255, 242, 34, 0.8);
}

._team-member ._team-member__frame ._team-member__info p {
  color: #fff;
  font-size: inherit;
}

._team-member ._team-member__frame ._ivan {
  background: rgba(231, 76, 60, 0.7);
}

._team-member ._team-member__frame ._luka {
  background: rgba(26, 188, 156, 0.7);
}

._team-member ._team-member__frame ._dominik {
  background: rgba(243, 156, 18, 0.7);
}

._team-member ._team-member__frame:hover {
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
}

._team-member ._team-member__frame:hover ._team-member__info {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

._team-member ._team-member__frame:hover ._team-member__info p,
._team-member ._team-member__frame:hover ._team-member__info .__info-div {
  opacity: 1;
  margin-top: 15px;
}

._body-noscroll {
  overflow: hidden;
}

#side-panel {
  position: fixed;
  overflow: visible;
  top: 0;
  bottom: 0;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  right: 0;
  width: 540px;
  background: #2c3e50;
  z-index: 100000;
  border-left: 5px solid #516982;
  color: #fff;
  transition: 0.2s ease-out;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #side-panel {
    width: 600px;
  }
}

@media only screen and (max-width: 767px) {
  #side-panel {
    width: 100%;
  }
}

#side-panel ._side-panel-close {
  position: absolute;
  top: 10px;
  left: 12px;
  z-index: 100001;
  line-height: 1em;
  cursor: pointer;
}

#side-panel ._side-panel-close .fa {
  font-size: 30px;
  opacity: 0.4;
  transition: 0.2s ease-out;
}

#side-panel ._side-panel-close:hover .fa {
  opacity: 0.8;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

#side-panel ._side-panel__holder {
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  padding-bottom: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#side-panel ._side-panel__holder ._profile__top {
  text-align: center;
  background: #34495e;
  padding: 20px 0;
}

#side-panel ._side-panel__holder ._profile__top h1 {
  font-size: 34px;
  letter-spacing: 1px;
  font-weight: 700;
  position: relative;
  margin: 15px 0 30px 0;
}

#side-panel ._side-panel__holder ._profile__top h2 {
  font-size: 18px;
  text-transform: uppercase;
  opacity: 0.8;
  margin-bottom: 0;
}

#side-panel ._side-panel__holder ._profile__top ._side-panel__photo {
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
  width: 45%;
  border: 5px solid #516982;
}

#side-panel ._side-panel__holder ._profile__top ._side-panel__photo img {
  width: 100%;
}

#side-panel ._side-panel__holder ._side-panel__mainH {
  font-size: 25px;
  position: relative;
  margin-top: 25px;
  margin-bottom: 16px;
}

#side-panel ._side-panel__holder ._side-panel__mainH small {
  color: #fff;
  opacity: 0.75;
  font-size: 45%;
  margin-left: 5px;
}

#side-panel ._side-panel__holder ._side-panel__mainH:after {
  left: 0%;
  right: 85%;
}

#side-panel ._side-panel__holder ._side-panel__intro {
  margin-top: 20px;
}

#side-panel ._side-panel__holder ._side-panel__intro p {
  font-style: italic;
  text-align: center;
  margin-bottom: 0;
  font-size: 13px;
}

#side-panel ._side-panel__holder ._side-panel__about h2 {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

#side-panel ._side-panel__holder ._side-panel__about h2 .fa {
  width: 13px;
  font-size: 13px;
  margin-right: 10px;
  opacity: 0.7;
}

#side-panel ._side-panel__holder ._side-panel__about ._about-text {
  margin-left: 23px;
}

#side-panel ._side-panel__holder ._side-panel__interests,
#side-panel ._side-panel__holder ._side-panel__linkovi {
  padding-top: 20px;
}

#side-panel ._side-panel__holder ._side-panel__interests ._interest-label,
#side-panel ._side-panel__holder ._side-panel__linkovi ._interest-label {
  display: inline-block;
  font-size: 95%;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.35);
  margin: 0 7px 7px 0;
}

#side-panel ._side-panel__holder ._side-panel__linkovi ._side-panel__link {
  color: #B0EADF;
  font-weight: 700;
  margin-right: 14px;
}

#side-panel ._side-panel__holder ._side-panel__linkovi ._side-panel__link .fa {
  font-size: 75%;
  margin-right: 7px;
}

#body-faded-layer {
  background: rgba(248, 252, 250, 0.82);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  display: none;
}

._loading-spinner {
  width: 100%;
  height: 100%;
  min-height: 300px;
  text-align: center;
  position: relative;
}

._loading-spinner i {
  position: relative;
  top: 35%;
  color: #2ECC71;
  font-size: 36px;
  margin-top: 30%;
}

._guestbook p {
  font-size: 18px;
  margin-bottom: 25px;
}

._guestbook p .fa {
  margin-left: 3px;
}

._guestbook form {
  margin-bottom: 20px;
}

._guestbook form label {
  font-size: 18px;
  text-transform: uppercase;
  color: #777;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 8px;
}

._guestbook form input,
._guestbook form textarea {
  color: #fff;
  background: #16a085;
  border: 3px solid #1abc9c;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 0px;
  outline: none !important;
  box-shadow: none !important;
  transition: 0.12s ease-out;
  height: auto;
}

._guestbook form input::-webkit-input-placeholder,
._guestbook form textarea::-webkit-input-placeholder {
  color: #fff;
}

._guestbook form input:-moz-placeholder,
._guestbook form textarea:-moz-placeholder {
  color: #fff;
}

._guestbook form input::-moz-placeholder,
._guestbook form textarea::-moz-placeholder {
  color: #fff;
}

._guestbook form input:-ms-input-placeholder,
._guestbook form textarea:-ms-input-placeholder {
  color: #fff;
}

._guestbook form input:focus,
._guestbook form textarea:focus {
  padding: 16px 16px;
}

._guestbook form input:hover,
._guestbook form input:focus,
._guestbook form textarea:hover,
._guestbook form textarea:focus {
  background: #1abc9c;
  border-color: #16a085;
}

._guestbook form button {
  border-radius: 0;
  border: 3px solid #ddd;
  background: #eee;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  transition: 0.12s ease-out;
  padding: 8px 25px;
}

._guestbook form button:hover {
  border-color: #ccc;
  background: #fff;
}

._guestbook form button:focus {
  outline: none !important;
  box-shadow: none !important;
}

._guestbook ._messages {
  padding: 0 15px;
  background: #fff;
  margin-top: 30px;
  margin-bottom: 20px;
  overflow: auto;
  border: 3px solid #f1f1f1;
}

._guestbook ._messages ._message {
  padding: 0 0 15px 0;
  margin: 15px 0 0 0;
  border-bottom: 1px solid #f1f1f1;
}

._guestbook ._messages ._message h3 {
  margin-top: 0;
  color: #373442;
  font-size: 23px;
  font-weight: 700;
}

._guestbook ._messages ._message h3 ._message-publishedAt {
  font-size: 13px;
  font-weight: 400;
  color: #999;
  margin-top: 3px;
}

._guestbook ._messages ._message p {
  margin-bottom: 0;
  font-size: 16px;
}