@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900,300&subset=latin,latin-ext);

body {
	background: #f5f5f5;
	font-family: 'Lato', sans-serif !important;
	line-height: 1.385;
	font-size: 14px;
	color: #333;
}

._tryCodeCatch {
	color: #25a8de;
}

._ivan {
	color: rgb(231, 76, 60);
}
._ivan__darker {
	color: rgb(192, 57, 43);
}

._luka {
	color: rgb(26, 188, 156);
}
._luka__darker {
	color: rgb(22, 160, 133);
}

._dominik {
	color: rgb(241, 196, 15);
}
._dominik__darker {
	color: rgb(243, 156, 18);
}

._navbar {
	background: #fff;
	border: none;
	min-height: auto;
}

.scrollto {
	outline: none;
}

._nav-team-members {
	display: flex;
   justify-content: center;
}
	._nav-team-members ._separator {
		margin-left: 15px;
	}
	._nav-team-members>li>a {
		font-size: 24px;
		border-radius: 0;
		color: inherit;
		transition: 0.15s ease-out;
	}
	._nav-team-members>li.active>a, ._nav-team-members>li.active>a:hover, ._nav-team-members>li.active>a:focus {
		color: #000;
		font-weight: 700;
		background: none;
	}
	._nav-team-members>li>a:hover, ._nav-team-members>li>a:focus {
		color: #000;
		background: none;
	}
	._nav-team-members>li.active>a._nav-def, ._nav-team-members>li>a._nav-def:hover, ._nav-team-members>li>a._nav-def.active {
		box-shadow: inset 0 -4px 0 rgb(52, 73, 94);
	}
	._nav-team-members>li.active>a._ivan, ._nav-team-members>li>a._ivan:hover, ._nav-team-members>li>a._ivan.active {
		box-shadow: inset 0 -4px 0 rgb(231, 76, 60);
	}
	._nav-team-members>li.active>a._luka, ._nav-team-members>li>a._luka:hover, ._nav-team-members>li>a._luka.active {
		box-shadow: inset 0 -4px 0 rgb(26, 188, 156);
	}
	._nav-team-members>li.active>a._dominik, ._nav-team-members>li>a._dominik:hover, ._nav-team-members>li>a._dominik.active {
		box-shadow: inset 0 -4px 0 rgb(243, 156, 18);
	}

._fadeInTop {
	position: relative;
	top: -15px;
	opacity: 0;
}

._portfolio-jumbo {
	background: url('../../img/bcg/pattern1.png');
	background-repeat: repeat;
	margin: 50px 0 0 0;
}
	._portfolio-jumbo ._portfolio-jumbo__inner {
		text-align: center;
		color: #fff;
	}
		._portfolio-jumbo ._portfolio-jumbo__inner h1 {
			font-weight: 900;
			font-size: 90px;
			margin-top: 0;
			margin-bottom: 0;
		}
		._portfolio-jumbo ._portfolio-jumbo__inner h2 {
			font-weight: 400;
			font-size: 32px;
			margin-top: 10px;
		}

._coding-jumbo {
	background: url('../../img/bcg/coding.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	margin: 70px 0 0 0;
	text-align: center;
	padding: 60px 0;
}
	._coding-jumbo ._item {
		background: #fff;
		border-radius: 5px;
		box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
		padding: 20px 15px;
		cursor: default;
		margin: 10px 0;
	}
		._coding-jumbo ._item ._icon {
			font-size: 90px;
			margin-bottom: 22px;
			color: rgb(67, 65, 74);
		}
		._coding-jumbo ._item h3 {
			margin: 0;
		}

._indent {
	border-left: 15px solid rgba(46, 204, 113, 1);
	padding-top: 10px;
	padding-bottom: 10px;
}
	._indent p {
		margin-left: 15px;
	}

._mainHeading {
	position: relative;
	text-transform: uppercase;
	text-align: center;
	margin: 45px 0 45px 0;
}
	._mainHeading:after {
		content: '';
		display: block;
		position: absolute;
		bottom: -15px;
		left: 46%;
		right: 46%;
		border-bottom: 3px solid rgba(46, 204, 113, 1);
	}

._about-us {
}

	._about-us p {
		font-size: 18px;
	}
	._about-us p:last-child {
		margin-bottom: 0;
	}

._team-member__col {
	transition: 0.2s ease-out;
}

._team-member {
	position: relative;
	margin: 0 auto;
	width: 85%;
	max-width: 320px;
	text-align: center;
}

	._team-member img {
		width: 100%;
		height: auto;
		border-radius: 50%;
		position: relative;
	}

._team-member__frame {
	height: 100%;
	width: 100%;
	top: 0;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	box-shadow: 
		inset 0 0 0 20px rgba(255,255,255,0.6),
		0 1px 2px rgba(0,0,0,0.1);
	transition: all 0.4s ease-in-out;
}
._team-member__info {
	position: absolute;
	display: flex;
	justify-content: center;
	background: rgba(231, 76, 60, 0.75);
	height: 100%;
	width: 100%;
	border-radius: 50%;
	overflow: hidden;
	opacity: 0;
	transition: all 0.3s ease-in-out;
	transform: scale(0);
}
._team-member__inner {
	align-self: center;
}
._team-member__info._ivan {
	background: rgba(231, 76, 60, 0.7);
}
._team-member__info._luka {
	background: rgba(26, 188, 156, 0.7);
}
._team-member__info._dominik {
	background: rgba(243, 156, 18, 0.7);
}
	._team-member__info h3 {
		color: #fff;
		text-transform: uppercase;
		font-size: 30px;
		font-weight: 700;
		margin: 0 50px;
		padding: 0;
		font-family: 'Open Sans', Arial, sans-serif;
		text-shadow: 0 1px 2px rgba(0,0,0,0.3);
		text-align: center;
		transition: all 0.2s ease-in-out 0.5s;
	}
	._team-member__info p {
		color: #fff;
		padding: 20px 5px;
		margin: -20px 30px 0 30px;
		font-size: inherit;
		border-top: 1px solid rgba(255,255,255,0.5);
		opacity: 0;
		transition: all 0.2s ease-in-out 0.2s;
	}
		._team-member__info p a {
			display: block;
			color: rgba(255,255,255,0.8);
			font-weight: 700;
			text-transform: uppercase;
			font-size: 15px;
			letter-spacing: 1px;
			padding-top: 8px;
			text-align: center;
		}
		._team-member__info p a:hover {
			color: rgba(255,242,34, 0.8);
		}

._team-member__frame:hover {
	box-shadow: 
		inset 0 0 0 1px rgba(255,255,255,0.1),
		0 1px 2px rgba(0,0,0,0.1);
}
	._team-member__frame:hover ._team-member__info {
		transform: scale(1);
		opacity: 1;
	}
	._team-member__frame:hover ._team-member__info p {
		opacity: 1;
		margin-top: 20px;
	}